In [22]:
l=[12,2,34,45]
#l=['zebra','akshay','rahul','vishal']
l2=[]
a= sorted(l,key = (lambda l2:l2[1]))
print(a)

TypeError: 'int' object is not subscriptable

Que 1)Sort all the numbers in a list in descending order using lambda function

In [21]:
l =[12,20,50.90]
l1=[]
a=sorted(l,key = (lambda l1:-l1))
print(a)

[50.9, 20, 12]

 Que 2)Sort all the characters of given string using lambda function

In [5]:
l=['akshay','yash','harshal','aman','abhi']
#sec_char=l[1]
l1=[]
b= sorted(l,key = (lambda l1:l1[1]))
print(b)

['yash', 'harshal', 'abhi', 'akshay', 'aman']

Que 3) Given list of strings, sort all the strings by last character of that string. . Use lambda function and normal function both.

In [26]:
l=['akshay','yash','harshal','aman','abhi']

# l1=[]
# b= sorted(l,key = (lambda l1:l1[-1]))
# print(b)

#Normal Function

def fun1(list):
    return list[-1]
    
print(sorted(l, key = fun1))

['yash', 'abhi', 'harshal', 'aman', 'akshay']

Q Given list of employees. This list may contain repetitions. Find all unique employee names and print them as per order of second character in that name. Use lambda function and normal function both

In [28]:
employee=['rahul','robin','jay','rahul','akshay','rahul']

uniq_employee=set(employee)
#print(uniq_employee)

sorted_emp=[]

x=sorted(uniq_employee,key = (lambda sorted_emp:sorted_emp[1]))
print(x)

['jay', 'rahul', 'akshay', 'robin']

Take Employee id and Employee name of 5 employees from user. Store it in dictionary. Print all employees in increasing order of employee Id . Also print all employees in alphabetical order by name.

In [7]:
emp={1:'robin',4:'smith',3:'aditya',2:'parth'}

x=sorted(emp,key =(lambda d:emp.keys()))
print(x)

[1, 4, 3, 2]

Take comma separated numbers as input from the user. Split it in list of strings. Now convert every string in this list to float using map function

In [48]:
l1=input("enter the values use , between them")

list_1=(l1.split(','))

list(map(float, list_1))

enter the values use , between them12,85,45,36

[12.0, 85.0, 45.0, 36.0]

 Given list of floating point numbers. Convert every number into string and then join all the numbers such that they are separated by pipe(|)

In [2]:
l1=[12.0,85.0,45.0,60.0]

a=list(map(str,l1))

'|'.join(a)

x=map()

'12.0|85.0|45.0|60.0'

Given list of integers. Use map function to calculate square of all and store in list. Then print sum of all square values.

In [50]:
list_1=[2,5,12,36,78,22]

list(map(lambda sq:sq**2, list_1))

[4, 25, 144, 1296, 6084, 484]