Basic Logic building programs

Simple Calculator Program
Scientific Calculator program

In [3]:
import math

def addition(a,b):
    print((lambda a,b: a+b)(a,b))
   

def subtraction(a,b):
    print((lambda a,b: a-b)(a,b))
    
def mutipication(a,b):
    print((lambda a,b: a*b)(a,b))
    
def divide(a,b):
    print((lambda a,b: a//b)(a,b))
    
def logari(a):
    print((lambda a: math.log(a))(a))
    
def power(a,b):
    print((lambda a,b: a**b)(a,b))
    

def calculator():
    while (True):
        print("press 1 to addition\n press 2 to subtract \n prees 3 to mutipication\n press 4 to divide\n press 5 to logariithmic \n press 6 to power\n press 7 to exit")
        choice=int(input("enter the choice"))
    
        match choice:
        
            case 1:
                a=int(input("enter the 1st number"))
                b=int(input("enter the 2st number"))
                addition(a,b)
                
            case 2:
                a=int(input("enter the 1st number"))
                b=int(input("enter the 2st number"))
                subtraction(a,b)
                
            case 3:
                a=int(input("enter the 1st number"))
                b=int(input("enter the 2st number"))
                mutipication(a,b)
                
                
                
            case 4:
                a=int(input("enter the 1st number"))
                b=int(input("enter the 2st number"))
                divide(a,b)
                
                
            case 5:
                a=int(input("enter the 1st number"))
                b=int(input("enter the 2st number"))
                logari(a)
                
            case 6:
                a=int(input("enter the 1st number"))
                b=int(input("enter the 2st number"))
                power(a,b)
                
            case 7:
                print(exit)
                break

In [4]:
calculator()

press 1 to addition
 press 2 to subtract
 prees 3 to mutipication
 press 4 to divide
 press 5 to logariithmic
 press 6 to power
 press 7 to exit
enter the choice6
enter the 1st number10
enter the 2st number2
100
press 1 to addition
 press 2 to subtract
 prees 3 to mutipication
 press 4 to divide
 press 5 to logariithmic
 press 6 to power
 press 7 to exit
enter the choice7
<IPython.core.autocall.ZMQExitAutocall object at 0x000001BDCEE89490>

WAP to print the odd numbers from 1 to 99. Prints one number per line.

In [8]:
odd_list=[]

for i in range(1,100,2):
    odd_list.append(i)

odd_numbers=odd_list

for e in odd_numbers:
    print(e)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

AP  to accept a number and check the number is even or not. Prints 1 if the number is even or 0 if the number is odd.

In [9]:
number=int(input("enter the number"))

if number%2==0:
    print("1")
    
else:
    print("0")

enter the number4
1

WAP to print numbers between 1 to 100 which are divisible by 3, 5 and by both
( total 3 list of numbers to be printed)

In [13]:
number_list=[]
num3=[]
num5=[]
num=[]
for i in range(1,100):
    number_list.append(i)
    
a=number_list

for e in a:
    if e%3==0:
        num3.append(e)
    if e%5==0:
        num5.append(e)
    if e%3==0 and e%5==0:
        num.append(e)
        
print("number divisible by 3",num3)
print("number divisible by 5",num5)
print("number divisible by 3 and 5",num)

number divisible by 3 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
number divisible by 5 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
number divisible by 3 and 5 [15, 30, 45, 60, 75, 90]

In [7]:
num=input("enter the number")

list_num=num.split()
print(list_num)

for word in list_num:
    x=len(word)
    word[0:x+1]
    
print(word)

enter the number65 265
['65', '265']
265

In [4]:
WAP to convert input number of seconds to HH:MM:SS

SyntaxError: invalid syntax (4148439197.py, line 1)

In [35]:
time=int(input("Enter the time in seconds"))

if time<3600:
    MM,SS=divmod(time,60)
    print("the time in format HH:MM:SS is {}:{}:{}".format (0,MM,SS))

elif time<60:
    SS=time
    print("the time in format HH:MM:SS is {}:{}:{}".format (0,0,SS))
    
else:
    HH,rem=divmod(time,3600)
    MM,SS=divmod(rem,60)
        
print("the time in format HH:MM:SS is {}:{}:{}".format (HH,MM,SS))

Enter the time in seconds7300
the time in format HH:MM:SS is 2:1:40

WAP to print all leap years between 2000 to 2100. Apply all conditions of checking leap year ( (divisible by 4 and not divisible by 100) OR (divisible by 400))

In [22]:
year=int(input("enter the year"))

if ((year%4==0)and(year%100!=0))or (year%400==0):
    print("year is leap year")
else:
    print("year is not leap year")

enter the year2005
year is not leap year

WAP to print calender for a month. Take how many days are there in month and starting day of the month as input
    Ex. input no of days : 30  starting day of month : Thursday
    Ouput :: Day wise Calender  ( just like June 2022 month)

In [32]:
days=input("enter the days using spaces")
day=days.split()

for i in (day) :
    print(i,end="   ")

enter the days using spacesMon Tue Wed Thur Fri Sat Sun
Mon   Tue   Wed   Thur   Fri   Sat   Sun

Fibonacci Series.
    1,1,2,3,5,8,13,21,34,...

In [1]:
#num=int(input("Enter the number"))
def fabonacci_series(num):
    a=0
    b=1

    for i in range(num):
        print(a)
        total=(a+b)
        a=b
        b=total

In [2]:
fabonacci_series(10)

0
1
1
2
3
5
8
13
21
34

Factorial of a number using loop
    n! = n * (n-1) * (n-2) * ... *2*1

In [4]:
#num=int(input("Enter teh number"))

def factorial(num):
    fact=1
    for i in range(2,num+1):
        fact=fact*i
    print("{}! is {}".format(num,fact))

In [5]:
factorial(4)

4! is 24

Factorial Program using Recursion
    n! = n * (n-1) * (n-2) * ... *2*1

In [8]:
def factorial(num):
    if num==0:
        return 1
    else:
        return num*factorial(num-1)
        

factorial(4)

24

Armstrong Number.
    It is a number with 'n' digits. Here (sum of every digit ^ n) equal to ( number itself)

    1) 1^3 5^3 3^3=153 ( here number of digits(n) is 3)
    2) 1^1 = 1 ( here number of digits is 1)
    3) 1634 = 1^4 + 6^4 + 3^4 + 4^4 ( here number of digits is 4)

In [1]:
number=input('enter the number')

order=len(number)
#print(order)
sum=0

for n in number:
    sum+=int(n)**order

if sum==int(number):
    print(sum)

else:
    print("not a Armstrong no")

enter the number1634
1634

WAP that accepts three integers from the user and return true if two or more of them (integers ) have the same rightmost digit. The integers are non-negative

In [15]:

def last_digit(num):
    list_num=num.split()
    x=list(map(int, list_num))
    last_digit=[]

    for e in x:
        q1=e%10
        last_digit.append(q1)
    
    if (last_digit[0]==last_digit[1])and(last_digit[0]==last_digit[2]):
        return True
    else:
        return False

In [17]:
num=input("Enter the numbers with spaces")

last_digit(num)

Enter the numbers with spaces45 55 65

True

In [18]:
num=input("Enter the numbers with spaces")

last_digit(num)

Enter the numbers with spaces45 789 65

False

In [ ]:
given a list of strings. every string is in format "Emp_name:Emp_id" Emp_id is always a number if emp_id is amstrong number then rotate emp_name 1 place to the right --> and print the emp_name if emp_id is a prime no then print vowels from the employee name in other cases print consonents from the emp name Finally there should be print of every employee name as per given condition

In [5]:
def amstrong_number(num):
    order=len(num)
    sum=0
    for n in num:
        sum+=int(n)**order
        
    if sum==int(num):
        return True
    else:
        return False
    
def prime_num(num):
    x=int(num)
    for n in range(x):
        if n>1:
            if x%n==0:
                return False
    else:
        return True
    
def rotate_name(name):
    nm=name[-1::]+name[:-1]
    print(nm)
    
def vowels(name,choice):
    vow=con=''
    for char in name:
        if (char=='a') or (char=='e') or (char=='i') or (char=='o') or (char=='u'):
            vow+=char
        else:
            con+=char
    if choice==1:
        print(vow)
    else:
        print(con)
        
def check_1(list):
    
    for e in list:
        name,emp_id=e.lower().split(':')
        
        if amstrong_number(emp_id)==True:
            rotate_name(name)
            
        elif prime_num(emp_id)==True:
            vowels(name,1)
            
        else:
            vowels(name,0)

In [6]:
check_1(['piyush:153','ankush:11','yash:33'])

hpiyus
au
ysh

Perfect sqaure WAP to check if a number is perfect square ot not.

In [7]:
import math
number=int(input("enter the number"))

num=math.sqrt(number) #gives a float values

if number%num==0:
     print('square root')
    
else:
     print('not square root')

enter the number64
square root

Prime number is not divisible by any number other than 1 and itself

In [4]:

def prime_no(num):
    for n in range(num):
        if n>1:
            if num%n==0:
                return False
    else:
        return True

In [5]:
prime_no(13)

True

Reverse a string./ Reverse a number.

In [20]:
string='akshay'

x=string[::-1]
print(x)

yahska

In [ ]:
Check Palindrome number

In [33]:
number='123456'
list_number=list(number)
list_number=list(map(int, list_number))
#print(list_number)

rev=list_number[::-1]

if rev==list_number:
    print('series is palidrome')
else:
    print('not palidrrome')

[1, 2, 3, 4, 5, 6]
not palidrrome

In [35]:
string='nitin'
list_str=list(string)

if list_str==list_str[::-1]:
    print('string is Palidrome')
else:
    print("String is not Palidrome")

string is Palidrome

In [ ]:
Find duplicate characters in a string.

In [45]:
string='abdtaftab'
set_1=set()
for e in string:
    x=string.count(e)
    #count the number of occurence of the element in whole string
    #print(x)
    if x>1:
        set_1.add(e)
        
    
print(set_1)

{'t', 'a', 'b'}

Take a number from user. Print highest number possible using all digits once from given number

In [3]:
number=input("enter the number using spaces")

list_num=number.split()

print(list_num)
lis_num=list(map(int,list_num))
print(lis_num)

max_num=max(list_num)

print(max(list_num))
print(max_num)


# l=[1,2,22,100,7765,89]

# print(max(l))
# # sort_1=sorted(lis_num,reverse=True)
# # #print(sort_1)
# # print(sort_1[0])

enter the number using spaces12 34 56 789
['12', '34', '56', '789']
[12, 34, 56, 789]
789
789

print table of any given number 
    2,4,6,8,10,12,14,16,18,20

In [5]:
for e1 in range(2,21,2):
    for e2 in range(1,11):
        table=e1*e2
        print('{}*{}={}'.format(e1,e2,table))

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100
12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120
14*1=14
14*2=28
14*3=42
14*4=56
14*5=70
14*6=84
14*7=98
14*8=112
14*9=126
14*10=140
16*1=16
16*2=32
16*3=48
16*4=64
16*5=80
16*6=96
16*7=112
16*8=128
16*9=144
16*10=160
18*1=18
18*2=36
18*3=54
18*4=72
18*5=90
18*6=108
18*7=126
18*8=144
18*9=162
18*10=180
20*1=20
20*2=40
20*3=60
20*4=80
20*5=100
20*6=120
20*7=140
20*8=160
20*9=180
20*10=200

Pattern Programs --> star patterns

WAP to find second last maximum value

In [11]:

# q1=num//10
# q2=q1%10

def second_last_digit(list_number):
    second_last=[]

    for e in list_number:
        q1=e//10
        q2=q1%10
        second_last.append(q2)
    
    print(second_last)
    max_digit=max(second_last)
    print(max_digit)

In [13]:
list_number=[12,857,96,475,36]
second_last_digit(list_number)

[1, 5, 9, 7, 3]
9

In [19]:
def second_last_digit_1(list_number):
    second_last=[]

    for e in list_number:
        q1=e//10
        q2=q1%10
        second_last.append(q2)
    
    print(second_last)
    min_digit=min(second_last)
    print(min_digit)

In [20]:
list_number=[12,857,96,475,36]
second_last_digit_1(list_number)

[1, 5, 9, 7, 3]
1

Write a  program to print the area and perimeter of a circle